/jdk-22_windows-x64_bin.exe
/logs
/Muhammad Deral - Comfee DF 12.jpg
/Muhammad Deral - formal photo DF 12.jpg
/output.png
/PERJANJIAN DATA FELLOWSHIP.pdf
/Personal Branding
/Python Learning by Wschools
/SURAT PERNYATAAN PENJAMINAN.pdf
/Training 1 Deep Dive into Modern Data Engineering Landscape
/Training 10 Data Quality Techniques and Anomaly Detection
/Training 11 BigQuery SQL
/Training 12 DBT for Data Transformations
/Training 13 Implementing Data Versioning and Testing in DBT
/Training 14 Hands-On Transformation Scenarios with Banking Data
/Training 15 Automated Data Validation and Error Handling
/Training 2 Introduction to Google Cloud Platform
/Training 3 Cloudera Hadoop
/Training 4 Python for Database Management
/Training 6 Mastering Kafka for Real-Time Data Streams
/Training 7 High-Volume Data Ingestion with Nifi and Kafka
/Training 8 Building Real-Time ETL Pipelines in Kafka, Bigquery and Informatica
/Training 9 Hands-On Real-Time Data Ingestion and Processing
/Training Data Fellowship 12
/~$ MUHAMMAD DERAL _DATA SCIENTIST _IYKRA.docx